artifacts/elasticsearch/snapshots/bge-m3/dense/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/clapnq/indices/5JYBcgwmTJizxaHNEBGiog/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/clapnq/indices/5JYBcgwmTJizxaHNEBGiog/0/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/clapnq/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/fiqa/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/fiqa/indices/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/cloud/indices/hGtV8YFdRWSNbwM5UKYetA/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/fiqa/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/fiqa/indices/VZIz7L1KQy6Qf5899slu1Q/0/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/govt/indices/rAL62vpLQKSmdR6asGUwig/0/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/fiqa/indices/PIAUrXIlRWqgyViFoCamAQ/0/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/clapnq/indices/UbkMo0v1S5CLAliS38ZiCg/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/cloud/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/cloud/indices/6tFaXYpYTy2FUSQKMvBsOg/0/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/fiqa/indices/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/govt/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/clapnq/indices/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/cloud/indices/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/fiqa/indices/VZIz7L1KQy6Qf5899slu1Q/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/fiqa/indices/PIAUrXIlRWqgyViFoCamAQ/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/govt/indices/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/govt/indices/rAL62vpLQKSmdR6asGUwig/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/govt/indices/Adk0_BRJRbG4_Up4bJ5wrQ/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/cloud/indices/6tFaXYpYTy2FUSQKMvBsOg/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/govt/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/govt/indices/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/clapnq/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/govt/indices/Adk0_BRJRbG4_Up4bJ5wrQ/0/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/dense/clapnq/indices/UbkMo0v1S5CLAliS38ZiCg/0/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/clapnq/indices/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/cloud/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/cloud/indices/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/bge-m3/sparse/cloud/indices/hGtV8YFdRWSNbwM5UKYetA/0/ filter=lfs diff=lfs merge=lfs -text
artifacts/elasticsearch/snapshots/elser/ filter=lfs diff=lfs merge=lfs -text
runs filter=lfs diff=lfs merge=lfs -text
runs/main filter=lfs diff=lfs merge=lfs -text
runs/main/candidates/ filter=lfs diff=lfs merge=lfs -text
runs/main/decisions/ filter=lfs diff=lfs merge=lfs -text
runs/main/evaluation/ filter=lfs diff=lfs merge=lfs -text
runs/main/evaluation/retrieval/ filter=lfs diff=lfs merge=lfs -text
runs/main/features/ filter=lfs diff=lfs merge=lfs -text
runs/main/predictions/task_a/ filter=lfs diff=lfs merge=lfs -text
runs/main/evaluation/generation/ filter=lfs diff=lfs merge=lfs -text
runs/main/features/bge/ filter=lfs diff=lfs merge=lfs -text
runs/main/logs/ filter=lfs diff=lfs merge=lfs -text
runs/main/predictions/ filter=lfs diff=lfs merge=lfs -text
runs/main/rewrites/ filter=lfs diff=lfs merge=lfs -text
